<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nasim.projectsirat_al_mustaqim">

    <application
        android:allowBackup="true"
        android:icon="@drawable/siratallllt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/siratallllt"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home_Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main_Menu" />
        <activity android:name=".Surahs" />
        <activity android:name=".Names_of_Allah" />
        <activity android:name=".Ayat" />
        <activity android:name=".Zakat"></activity>
    </application>

</manifest>